{% load i18n %}
<!DOCTYPE html>
{% block manifest %}
<html>
{% endblock %}
   <head>
        {% load staticfiles %}
        {% load trip_journal_extras %}
        <meta charset="UTF-8">
        <title>{% block title %}{% endblock %}</title>
        {% block css %}
        <link rel="stylesheet" href="{% static "css/base.css"%}">{% endblock %}
        <link href='http://fonts.googleapis.com/css?family=Ubuntu:400,300,500,400italic&subset=latin,cyrillic-ext' rel='stylesheet' type='text/css'>
        {% block scripts %}{% endblock %}
    </head>
    <body>
        <div id="header">
            {% block header %}
            <div id='cite_name'>
                <p><a href={% url 'home' %}>Trip Journal</a></p>
            </div>
            {% endblock %}
        </div>
        <div id="menu">
            {% block menu %}
            <div><a href="{% url 'stories_near_by' %}">{% trans "stories nearby" %}</a></div>
            <div><a href="{% url 'pictures_near_by' %}">{% trans "pictures nearby" %}</a></div>
            <div><a href="/settings">{% trans "settings" %}</a></div>
            {% if user and not user.is_anonymous %}
                <div><a href="{% url 'user_stories' %}">{% trans "my stories" %}</a></div>
                <div><a href="{% url 'my_news' %}">{% trans "my news" %}</a></div>
                <div>
                    <a href="/logout">{% trans "logout" %} {{ user.username }}</a>
                </div>
            {% else %}
                <div>
                    {% trans "sign in" %}:
                    {% social_up "google" as google_soc%}
                    {% if google_soc %}
                        <a href="{% url 'social:begin' 'google-oauth2' %}?next=/localization/change_language_social{{ request.path }}">
                            <div class='login_image'><img src="{% static "images/Google_Plus_logo.png"%}"></div>
                        </a>
                    {%endif%}
                    {% social_up "facebook" as facebook_soc%}
                    {% if facebook_soc %}
                        <a href="{% url 'social:begin' 'facebook' %}?next=/localization/change_language_social{{ request.path }}">
                            <div class='login_image'><img src="{% static "images/fb_logo.png"%}"></div>
                        </a>
                    {%endif%}
                    {% social_up "vk" as vk_soc%}
                    {% if vk_soc %}
                        <a href="{% url 'social:begin' 'vk-oauth2' %}?next=/localization/change_language_social{{ request.path }}">
                            <div class='login_image'><img src="{% static "images/vk_logo.png"%}"></div>
                        </a>
                    {%endif%}
                </div>
            {% endif %}
            <div><a href="{% url 'rss' %}">RSS</a></div>
            {% endblock %}
        </div>
        <div id="messages">
            {% block messages %}
            {% for message in messages %}
            <div {% if message.tags %} class="{{ message.tags }} {% endif %}">
                {{ message }}
            </div>
            {% endfor %}
            {% endblock %}
        </div>
        <div id="content">
            {% block content %}{% endblock %}
        </div>
    </body>
</html>
