{% extends 'base.html' %}
    {% load staticfiles %}
    {% block title %}Edit story{% endblock %}
    {% block css %}
        <link rel="stylesheet" href="{% static "css/base.css"%}">
        <link rel="stylesheet" href="{% static "css/edit.css" %}">
    {% endblock %}
    {% block scripts %}
        <script src="{% static "javascript/create.js" %}"></script>
	<script src="{% static "javascript/ajax_requests.js" %}"></script>
    {% endblock %}
    {% block content %}
    <main>
        <div id="title_panel" class="block hide">
            <input id="title" type="text" name="title_story" class="text_story" placeholder="+ Title of story">
            <button id="add_title" class="button_2">+</button>
        </div>    	
        <div id="story_content" class="block">
            <h2 id="story_title" contenteditable="true"></h2>

        {% for story_block in story_blocks %}
	    {% if story_block.type == 'text' %}
	    	<script type='text/javascript'>
                    appendBlock(
                        document.getElementById('story_content'), 
                        "<p class=\"description_story\">{{ story_block.content }}</p>", 
                        "text");
                </script>
            {% elif story_block.type = 'img' %}
            	<script type='text/javascript'>
                    appendBlock(
                        document.getElementById('story_content'), 
                        ('<img src="{{ story_block.url }}" class="image_story">' + 
                        '<p style="display:none;">{{story_block.id}}</p>'),
                        "img");
                </script>
	    {% endif %}
	{% endfor %}
        </div>

        <div id="text_panel" class="block hide" >
            <textarea id="textarea" name="text" class="element_story" placeholder="+ Text to story"></textarea>
            <br>
            <button id="adds_block_t" class="button_2 adds_block">+</button>
            <button id="clear_block_t" class="button_2 delete_block">-</button>
        </div>


        <div id="photo_panel" class="block hide">
            <div id="file">
                <form id="file-form">
	             <input id="type_file" type="file" class="add_file" name="img" multiple>
                </form>
            </div>

            <div id="photo_cont" class="">
            </div>
            <br>

            <button id="adds_block_p" class="button_2 adds_block">+</button>
            <button id="clear_block_p" class="button_2 delete_block">-</button>
        </div>


        <div id="video_panel" class="block hide">
            <div id="file">
                <input id="type_file" type="file" class="add_file clear_cont" name="img">
            </div>
            <div id="photo_cont" class="">
            </div>
            <br>
           
            <button id="adds_block_p" class="button_2 adds_block">+</button>
            <button id="clear_block_p" class="button_2 delete_block">-</button>
        </div>
	
        <div id="add_panel" class="block">
            <div id="added_text" class="add_block">
                <span class="block_title">text</span>
            </div>
            <div id="added_image" class="add_block">
                <span class="block_title">image</span>
            </div>
            <div id="added_video" class="add_block">
                <span class="block_title">video</span>
            </div>
        </div>

	<div class="block" >
                <button id="comment_but_t" class="button_4" >Add Comments</button>
	        <button id="treasure_but_t" class="button_4">Add Treasure</button>

	    <input id="add_comment_t" type="text" name="title_story" class="element_story">
            <input id="add_treasure_t" type="text" name="title_story" class="text_story clear_cont">
        </div>

        <div id="publish_panel" class="block">
            <button id="view" class="button">view</button>
            <button id="publish" class="button" onClick="post_data()">publish</button>
        </div>
    </main>
    {% endblock %}
