                 
{% extends 'base.html' %}
{% load staticfiles %}
{% load trip_journal_extras %}
{% block title %}Trip Journal{% endblock %}
{% block css %}
<link rel="stylesheet" href="{% static "css/base.css"%}">
<link rel="stylesheet" href="{% static "css/index.css" %}">
{% endblock %}
{% block header %}
<p id='cite_name'>Trip Journal</p>
{% endblock %}
{% block content %}
    <div id="welcome">
        <h2>Wellcome to TripJournal</h2>
        <p>Take first step to your journey of a thousand miles</p>
        <p>. . .</p>
    </div>
    <div id="stories">
        {% for story in stories %}
        <div class="story_list_container">
            {% if story.img %}
            <div class="story_img_container">
                <img src="{{story.img.pic|get_stored_pic_by_size:400}}">
            </div>
            {% endif %}
            <div class="story_name_container">
                <a href="{% url "story" story.story.id %}">{{ story.story.title }}</a>
            </div>
            <div class="story_text_container">
                <p>{{story.text.content}}</p>
            </div>
            <div class="story_username_container">{{ story.story.user }}</div>
            <div class="story_datepublish_container">{{ story.story.date_publish|date }}</div>
        </div>
        {% endfor %}
    </div>
    {% endblock %}
