{% extends 'base.html' %}
{% load i18n %}
{% load staticfiles %}
{% load trip_journal_extras %}
{% block css %}
{{ block.super }}
<link rel="stylesheet" href="{% static "css/my_stories.css" %}">
{% endblock %}
{% block title %}My stories{% endblock %}
{% block content %}
    <h3>{% trans "Your stories" %}</h3>
    <p id="new_story_link"><a href="{% url "edit" '' %}">{% trans "Create new story" %}</a></p>

    <div id="stories">
        {% for story in stories %}
            <div class="story_block">
                <div class="story_preview">
                    <div class="img_block">
                    {% if story.first_img %}
                        <img src="{{ story.first_img.pic|get_stored_pic_by_size:400 }}">
                    {% endif %}
                    </div>
                    <div class="story_likes">
                        <p>
                        <img src="{% static "images/white_hollow_heart.png" %}"> {{ story.likes_count }}
                        </p>
                    </div>
                    <div class="title_block">
                        <p>
                        <a href="{% url "story" story.id %}">{{ story.title }}</a>
                        </p>
                    </div>
                </div>
                <div class="story_buttons">
                    <form method="GET" action="{% url "edit" story.id %}">
                        <input type="submit" value='{% trans "edit" %}'/>
                    </form>
                    {% include "toggle_publish_buttons.html" with story_id=story.id %}
                    <form method="POST" action="{% url "delete" story.id %}">
                        {% csrf_token %}
                        <input type="submit" value='{% trans "delete" %}'>
                    </form>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}