{% extends 'base.html' %}
{% block title %}Pictures{% endblock %}

{% block content %}
    <h3>Her you can search pictures near the place</h3>
    <form action="/search_picture_near_by/" method="get">
        {% csrf_token %}
        Enter Latitude: <br>
        <input type="text" name="latitude" id="latitude" required><br>
        Enter Longitude:<br>
        <input type="text" name="longitude" id="longitude" required>
        <input type="submit" value="Search">
    </form>
    {% if pictures_list %}
        <ul>
        {% for picture in pictures_list %}
            <li>
                <div style="display: inline-block">
                <div style="width:450px">
                    <a href="{% url "picture" picture.picture.id %}"></a>
                </div>
                </div>
            </li>
        {% endfor %}
        </ul>

        <div align="center">
        <span>
            {% if pictures_list.has_previous %}
                <a href="?page={{ pictures_list.previous_page_number }}">Prev</a>
            {% endif %}

            <span>
                {{ pictures_list.number }} of {{ pictures_list.paginator.num_pages }}
            </span>

            {% if pictures_list.has_next %}
                <a href="?page={{ pictures_list.next_page_number }}">Next</a>
            {% endif %}
        </span>
        </div>
    {% endif %}

{% endblock %}
