 {% extends 'base.html' %}
    {% load staticfiles %}
    {% block title %}View story{% endblock %}
    {% block css %}
        <link rel="stylesheet" href="{% static "css/base.css"%}">
        <link rel="stylesheet" href="{% static "css/story.css" %}">
    {% endblock %}
    {% block scripts %}
        <script src="http://maps.googleapis.com/maps/api/js?key=AIzaSyDY0kkJiTPVd2U7aTOAwhc9ySH6oHxOIYM&sensor=false&libraries=drawing">
</script>
        <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.2.6/jquery.min.js"></script>
        <script src="{% static "javascript/view.js" %}"></script>
    {% endblock %}
    {% block content %}
    <main>
        <div id="map-canvas"></div>

        <div id="story_content" class="block">
            <div id="story_title" class="title"><h2>{{story.title}}</h2></div>
	    <p class="author">Author: {{story.user}}</p>
	    <p class="published">Published: {{story.date_publish}}</p>
            {% for story_block in story_blocks %}
	        {% if story_block.type == 'text' %}
                    <div class="saved_text">
		        <p>{{ story_block.content|safe }}</p>
		    </div>
                {% elif story_block.type = 'img' %}
	            <div class="saved_img">
                    <img src="{{ story_block.url }}">
		    </div>
	        {% endif %}
	    {% endfor %}
        </div>

      
    </main>
    {% endblock %}
