 {% extends 'base.html' %}
 {% load i18n %}
    {% load staticfiles %}
    {% load trip_journal_extras %}
    {% block title %}View story{% endblock %}
    {% block css %}
        {{ block.super }}
        <link rel="stylesheet" href="{% static "css/story.css" %}">
    {% endblock %}
    {% block scripts %}
        <script src="http://maps.googleapis.com/maps/api/js?key=AIzaSyDY0kkJiTPVd2U7aTOAwhc9ySH6oHxOIYM&sensor=false&libraries=drawing"></script>
        <script type="text/javascript" src="{% static "javascript/utils.js" %}"></script>
        <script type="text/javascript" src="{% static "javascript/mapping.js" %}"></script>
        <script type="text/javascript" src="{% static "javascript/story.js" %}"></script>
    {% endblock %}
    {% block content %}
    <main>
    <div id="map-canvas-wrapper">
        <div id="map-canvas"></div>
    </div>
    <div id="story" class="block">
        <div id="story_title" class="title"><h2>{{story.title}}</h2></div>
        <div id="story_info">
            <p>
                <span id="pub_date">{{ story.date_publish|date }} </span>
                {% trans "by" %}
                <span id="author">{{ story.user }}</span>
                <!-- Subscribe button -->
                <button onclick="subscribe_or_unsubscribe()" 
                        value="{% url 'subscribe' subscribe_on=story.user_id %}"
                        class="subscribe-btn {% if is_subscribed %}unsubscribe{% endif %}"> 
                    <span class="sibscribe-span">subscribe</span>
                    <span class="unsibscribe-span">unsubscribe</span>
                </button>
                <span id="like_story">
                    <span class="likes_count">{{ story.likes_count }}</span>
                    <a class="like_story_link {% if story|is_liked_by:user %}liked{% endif %}"
                       title="like this story"
                       href="{% url 'like' item_to_like="story" item_id=story.id %}"><span>Like</span></a>
                </span>
            </p>
        </div>
        {% include "story_content.html" with page="story" %}
        <div id="user_buttons">
            {% if user == story.user %}
                <form action="{% url 'edit' story.id%}">
                    <input type="submit" value='{% trans "Edit this story" %}' />
                </form>
                {% include 'toggle_publish_buttons.html' with story_id=story.id %}

            {% endif %}
        </div>
    </div>

    </main>
    {% endblock %}