{% extends 'base.html' %}

{% load notifications_tags %}
{% load staticfiles %}

{% block content %}

        <div >
            <div ><a href="{% url 'mark_as_read' %}">Mark all as read</a></div>
            <table >
                <tbody>
                    {% for notification in notifications %}
                    <tr {% if notification.unread%} style="background-color:#FFFF85" {%endif%}>
                        <td>{{ notification.timesince }}</td>
                        <td>
                            <a href="{%url 'story' notification.target.id %}" onclick= "{{ notification.mark_as_read }}">{{ notification.verb|default:"" }}
                            </a>
                        </td> 
                    </tr>
                    
                    {% endfor %}
                </tbody>
            </table>
        </div>
    
{% endblock %}