{% extends 'base.html' %}

{% load notifications_tags %}
{% load staticfiles %}

{% block content %}

        <div >
            <div ><a href="{% url 'mark_all_as_read' %}">Mark all as read</a></div>
            <div ><a href="{% url 'toggle_notifications' %}">{%if is_notified%}Dis{%else%}En{%endif%}able notifications</a></div>
            <table >
                <tbody>
                    {% for notification in notifications %}
                    <tr {% if notification.unread%} style="background-color:#FFFF85" {%endif%}>
                        <td>{{ notification.timesince }}</td>
                        <td>
                            <a href="{%url 'mark_as_read' notification.id notification.target.id %}">
                                {{ notification.verb|default:"" }}
                            </a>
                        </td> 
                    </tr>
                    
                    {% endfor %}
                </tbody>
            </table>
        </div>
    
{% endblock %}