html, body {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Ubuntu", Helvetica, Arial, sans-serif;
}

#header {
    text-align: center;
    top: 0;
    width: 100%;
    right: 0;
    margin: 0;
    background-color: #31797d;
    height: 50px;
    color: white;
    z-index: 1;
}

#cite_name {
    display: inline-block;
    margin: 8px 0px 0px 8px;
    border: white solid 2px;
}

#cite_name p {
    padding: 4px;
    margin: 0;
}

#cite_name p a {
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 1.25em;
}

#cite_name:hover {
    background-color: white;
}

#cite_name:hover a {
    color: #31797d;
}

#content {
    text-align: center;
    position: relative;
    background-color: #31797d;
    z-index: 2;
    font-variant: small-caps;
    font-size: 1.1em;
    padding: 15px 0px;
}

#content div {
    padding: 8px;
    border: #31797d solid 2px;
    border-right: white solid 2px;
}

#content div:last-of-type {
    border-right:  #31797d solid 2px;
}

#content div a {
    color: white;
    font-weight: 500;
    text-decoration: none;
}

#content div:hover {
    border: white solid 2px;
}





