html, body {
    background-color: #DDDDDD;
    height:100%;
}

#header, #content {        
    position:relative;
    height:75%;
    margin: auto;
    width:80%;
    background-attachment:fixed;    /* this keeps the background in place */
    background-size:100%;
    background-repeat:no-repeat;
    background-color: white;
}

#menu {
    width: 80%;
    margin: auto;
}
#header {
    background-image: url("../images/cover.jpg");
    display:table;
}

#content h1 {
    color: white;
    font-size: 3em;
    padding-left: 20px;
    display:table-cell;
    position:relative;
    vertical-align:middle;
} 

#content {
    border-top: 10px solid #DDDDDD;
}

#content_type_box {
    height: 30px;
    width: 100%;
    background-color: #a6b211;
}

.content_type {
    height: 100%;
    width: 20%;
    position: relative;
    float: left;
}


.story_list_container {
    width: 100%;
}


.story_name_container {
    height: 20px;
    width: 60%;
    float: left;
    padding-left: 5px;
}

.story_datepublish_container {
    height: 20px;
    width: 22%;
    float: left;
}

.story_username_container {
    height: 20px;
    width: 17%;
    float: left;
}

.login_form {
    float: right;
}

.login_form input {
    display: inline-block;
} 
