h3 {
    font-size: 1.8em;
    font-weight: normal;
    margin-left: 5px;
}

#new_story_link {
    margin-left: 5px;
}

/* to avoid spaces between inline blocks */
#stories {
    font-size: 0;
}

#stories div {
    font-size: 12pt;
}

.story_block {
    background-color: #F5F5F5;
    vertical-align: top;
    display: inline-block;
    margin-bottom: 5px;
    margin-left: 5px;
    width: 328px;
    position: relative;
    z-index: 0;
}

.img_block {
    width: 100%;
    height: 246px;
    overflow: hidden;
    background: url("../images/camera.svg") no-repeat center center;
    background-size: 30%;
}

.img_block img {
    width: 100%;
    position: relative;
}

.title_block {
    width: 100%;
    height: 70px;
    text-align: center;
    background-color: white;
}

.title_block p {
    padding: 10px;
    margin: 0px;
    line-height: 150%;
}

.title_block a {
    text-decoration: none;
    font-size: 1.1em;
    color: #31797d;
}

.story_likes {
    visibility: hidden;
    position: absolute;
    top: 30px;
    left: 145px;
    color: white;
}

.story_likes img {
    position: relative;
    top: 4px;
    width: 23px;
}

.story_likes p {
    margin: 0;
    font-size: 25px;
}

.story_buttons {
    position: absolute;
    bottom: 85px;
    left: 0px;
    width:327px;
    visibility: hidden;
}

.story_buttons input {
    margin:auto;
    display: block;
    cursor: pointer;
    font-size: 1em;
    font-weight: bold;
    text-align: center;
    height: 40px;
    min-width: 110px;
    background-color: rgba(255, 255, 255, 0);
    border: 0;
    border-top: 2px solid #E6E6E6;
    text-transform: uppercase;
    color: white;
}

.story_block:hover .img_block {
    background-image: none;
    background-color: rgba(49, 121, 125, 0.8);
}

.story_block:hover .img_block img {
    z-index: -1;
}

.story_block:hover .story_buttons {
    visibility: visible;
}

.story_block:hover .story_likes {
    visibility: visible;
}

.story_block:hover .title_block {
    background-color: rgba(49, 121, 125, 0.8);
}

.story_block:hover .title_block a {
    color: #e0ffb3;
}