body{
    background-color: #ddd;
    margin: 0;
    padding: 0;
}
main{
    margin: 0 auto;
    width: 800px;
    text-align: center;
}
.add_block{
    width: 100px;
    height: 70px;
    text-align: center;
    border: 1px solid #aaa;
    border-radius: 5px;
    margin: 2px;
    padding: 10px;
    display: inline-block;
    background: url("../images/plus-sign_2.png") 35px 35px no-repeat #83a054;
    cursor: crosshair;
    position: relative;
}
.add_block:hover{
    background: url("../images/plus-sign.png") 35px 35px no-repeat #8ed41f;

}
.key_panel{

    width: 150px;
    height: 25px;
    border: 1px solid #aaa;
    border-radius: 5px;
    margin-left:600px;
   
    
    visibility:hidden;
 
   
   
    
}
.block_title{
    text-transform: uppercase;
    font-weight: bold;
    color: #fff;
}
.clear{
    clear: both;
}
.block{
    padding: 5px;
    margin: 2px;
    background: #fff;
    position: relative;
}
.add_panel{
    text-align: center;
}
.button{
    text-transform: uppercase;
    font-size: 20px;
    font-weight: bold;
    padding: 10px 18px;
    margin: 5px;
    background: #83a054;
    border: none;
    border-radius: 8px;
    box-shadow: inset -1px -1px 10px #050;
    color: #ff0;
    outline: none;
}
.button:active,.button_2:active,.button_4:active{
    background: #f00;
}
.add_file{
    display: inline-block;
    width: 642px;
    height: 100px;
    cursor: crosshair;
    opacity: 0;
}
#file{
    height: 100px;
    width: 642px;
    background: url("../images/plus-sign.png") 290px 25px no-repeat #ddd;
    margin: 2px;
    margin-left: 72px;
}
.text_story,.element_story{
    width: 614px;
    padding: 12px;
    outline: none;
    margin: 5px;
    border: 2px solid #ddd;
    
}
.element_story{
    height: 70px;
    display: inline-block;
}
.button_2{
    font-size: 16px;
    font-weight: bold;
    padding: 4px 9px;
    background: #fff;
    border: 1px solid #83a054;
    border-radius: 5px;
    color: #83a054;
    outline: none;
}
#add_title,.adds_block{
    position: absolute;
    bottom: 5px;
    right: 40px;
}
.delete_block{
    position: absolute;
    bottom: 5px;
    right: 12px;
    margin-left: 35px;
}
.img_block{
    float: left;
    position: relative;
    margin: 2px;
}
.button_3{
    position: absolute;
    right: 2px;
    top: 2px;
}
.img_story{
    height: 100px;
}
#photo_cont{
    width: 614px;
    padding: 12px;
    outline: none;
    margin: 5px;
    border: 2px solid #ddd;
    display: none;
    position: relative;
}


.block_story{
    border: 1px solid #aaa;
    border-radius: 10px;
    margin: 5px;
    text-align: left;
    padding: 10px;
    position: relative;
}
.image_story{
    width: 756px;
}
.button_4{
    position: absolute;
    background: #fff;
    outline: none;
    border: 1px solid #83a054;
    color: #83a054;
}
#delete_block{
    right: 7px;
    bottom: 7px;
}
#edit_block{
    right: 30px;
    bottom: 7px;
}
#bottom{
    width: 58px;
    right: 9px;
    bottom: 28px;
}
#top{
    width: 58px;
    right: 9px;
    bottom: 49px;
}
.comments,.treasure{
    width: 650px;
    font-size: 12px;
}
.block_story h3{
    margin-left: 50px;
}
#comment_but_t,#treasure_but_t,#comment_but_p,#treasure_but_p{
    position: relative;
}
#story_content,#title_panel,#text_panel,#photo_panel,#video_panel,#add_panel,#publish_panel{
    display: none;
}
#add_comment_t,#add_treasure_t,#add_comment_p,#add_treasure_p{
    display: none;
}
#top{
    display: inline-block;
    width: 25px;
    height: 25px;
    
    top: 0px;
    margin-right:10px;
    border: none;
    background:  url("../images/arrow-up.png") no-repeat;
}
#bottom{
    display: inline-block;
    width: 25px;
    height: 25px;
    margin-right:10px;
  
    border: none;
    background:  url("../images/arrow-down.png") no-repeat;
}

#edit{
    display: inline-block;
    width: 25px;
    height: 25px;
    bottom: 0px;
    margin-right:10px;
    border: none;
    background:  url("../images/edit.png") no-repeat;
}
#delete{
    display: inline-block;
    width: 25px;
    height: 25px;
    bottom: 0px;
    margin-right:10px; 
    border: none;
    background:  url("../images/delete.png") no-repeat;
}
